.title{
    margin:0 0 50px;
        .en{
            font-size: 16px;
            height: 25px;
            font-family: PingFang SC;
            font-weight: 300;
            color: #FF6600;
        }
        .en::before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 10px;
            height: 25px;
            background: #566EF4;
            margin-right: 10px;
        }
    
    .ch{
        margin-top: 20px;
        font-size: 40px;
        font-weight: 400;
        color: #282828;
        line-height: 48px;
        span{
        // margin-top: 26px;
        // font-size: 48px;
        font-weight: 400;
        margin-left: 10px;
        // color: #282828;
        // line-height: 48px;
        }
    }
}
// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
    .title{
        margin:0 0 50px;
            .en{
                font-size: 16px;
                height: 25px;
                font-family: PingFang SC;
                font-weight: 300;
                color: #FF6600;
            }
            .en::before{
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 10px;
                height: 25px;
                background: #566EF4;
                margin-right: 10px;
            }
        
        .ch{
            font-size: 28px;
            font-weight: 600;
        }
    }
  }
// 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
    .title{
        margin:0 0;
            .en{
                font-size: 16px;
                height: 25px;
                font-family: PingFang SC;
                font-weight: 300;
                color: #FF6600;
            }
            .en::before{
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 10px;
                height: 25px;
                background: #566EF4;
                margin-right: 10px;
            }
        
        .ch{
            font-size: 28px;
            font-weight: 600;
        }
    }
  }