.companyIntro{
        width: 80%;
        height: 400px;
        margin-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:  120px auto 0;
    .introPhoto{
        width: 619px;
        height: 400px;
        position: relative;
        .mentu{
            width: 100%;
            position: absolute;
            bottom: -43px;
        }
        .videoImg{
            width: 546px;
            height: 360px;
            margin: 0 auto;
            position: relative;
            .bofang{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    .intro{
        width: 544px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;   
        margin-left: 40px;
        .currentButton{
            height: 44px;
            background: #566EF4;
            border-radius: 22px;
            color: #FFFFFF;
            text-align: center;
            line-height: 44px;
            border: none;
            outline: none;
            cursor: pointer;
          }
    }
}
.title{
    margin:0 0 50px;
        .en{
            font-size: 16px;
            height: 25px;
            font-family: PingFang SC;
            font-weight: 300;
            color: #FF6600;
        }
        .en::before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 10px;
            height: 25px;
            background: #566EF4;
            margin-right: 10px;
        }
    
    .ch{
        margin-top: 20px;
        font-size: 40px;
        font-weight: 400;
        color: #282828;
        line-height: 48px;
        span{
        // margin-top: 26px;
        // font-size: 48px;
        font-weight: 400;
        margin-left: 10px;
        // color: #282828;
        // line-height: 48px;
        }
    }
}


// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
    .companyIntro{
        width: 95%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:  60px auto 0;
        .introPhoto{
        // width: 320px;
        height: 140px;
        position: relative;
        .mentu{
            width: 100%;
            position: absolute;
            bottom: -63px;
        }
        .videoImg{
            width: 280px;
            height: 185px;
            margin: 0 auto;
            position: relative;
            .bofang{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        }
        .intro{
        width: 544px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;   
        margin-left: 10px;
        .currentButton{
            height: 44px;
            background: #566EF4;
            border-radius: 22px;
            color: #FFFFFF;
            text-align: center;
            line-height: 44px;
            border: none;
            outline: none;
            cursor: pointer;
            margin-top: 30px;
          }
    }
}
}

// 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
    .companyIntro{
        height: auto;
        flex-direction: column;
        .introPhoto{
            width: 90%;
            height: auto;
            .mentu{
                bottom: -20px;
            }
            .videoImg{
                width: 90%;
                height: 185px;
                margin: 0 auto;
                position: relative;
                .bofang{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
        .intro{
            width: 90%;
            align-items: center;
            margin-top: 20px;
        }
    }
}

// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
    .title{
        margin:0 0 50px;
            .en{
                font-size: 16px;
                height: 25px;
                font-family: PingFang SC;
                font-weight: 300;
                color: #FF6600;
            }
            .en::before{
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 10px;
                height: 25px;
                background: #566EF4;
                margin-right: 10px;
            }
        
        .ch{
            font-size: 20px;
            font-weight: 600;
        }
    }
  }
