.chComIntro{
    font-size: 16px;
    color: #454545;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    
  }
  // 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
  overflow: hidden;
  /* max-height: 80px; */
  overflow-x: hidden;
  text-overflow: ellipsis;
}