.location{
    text-align: start !important;
}
.Products{
  width: 80%;
   margin:  0 auto;
  .products{
    .proCard{
      min-width: 370px;
      height: 400px;
      background: #FFFFFF;
      box-shadow: 0px 5px 28px 2px rgba(51, 51, 102, 0.15);
      border-radius: 10px;
      cursor: pointer;
      margin: 40px 15px;
      .bottomImg{
        width: 100%;
        height: 270px;
      }
      .intro{
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 5px 28px 2px rgba(51, 51, 102, 0.15);
        border-radius: 0 0 10px 10px;
        transition: all .5s;
        .productDetail{
          width: 250px;
          font-size: 16px;
          padding: 5px;
          display: flex;
          flex-direction: column;
          .title{
            color: #242424;
          }
          .detail{
            color: #687188;
            line-height: 30px;
          }
        }
       
        .learnMore{
          width: 45px;
          height: 45px;
          background: #0D0F18;
          color: #ffffff;
          border-radius: 50%;
          outline: none;
          border: none;
          transition: all .5s;
          cursor: pointer;
        }
      }
    }
    .proCard:hover{
      .intro{
        height: 170px;
      }
      .learnMore{
        background: #566EF4;
      }
    }
  }
}

.currentButton{
  height: 44px;
  background: #566EF4;
  border-radius: 22px;
  color: #FFFFFF;
  text-align: center;
  line-height: 44px;
  border: none;
  outline: none;
  cursor: pointer;
}

// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
  .Products{
    width: 95%;
    .products{
    }
   
  }
}

// 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
  .Products{
    width: 95%;
    .products{
      .proCard{
        min-width: auto;
        height: auto;
        width: 46%;
        margin: 10px 0;
        .bottomImg{
          width: 100%;
          height: 100px;
        }
        .intro{
          // height: 100px;
          height: auto;
          border-radius: 0 0 5px 5px;
          .learnMore{
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;
          }
          .productDetail{
            width: 250px;
            height: 60px;
            font-size: 10px;
            overflow: hidden;
            .title{
              color: #242424;
              font-weight: 800;
            }
            .detail{
              color: #687188;
              line-height: 20px;
            }
          }
        }
      }
      .proCard:hover{
        .intro{
          height: auto;
        }
        .learnMore{
          background: #0D0F18;
        }
      }
    }
  }
}