.videoContent{
  .videoBackground{
    width: 100%;
    height: 400px;
    background: #17184C;
    position: relative;
    top: 100px;
    /**视频中心暂停图片的样式**/
    .videoPalse{
      font-size: 120px;
      color: #FFFFFF;
      position: absolute;
      z-index: 100;
      top:50%;
      left:50%;
      cursor: pointer;
      transform: translate(-50%,50%);
    }
    .mentu{
      width: 1092px;
      height: 600px;
      display: inline-block;
      background: #000000;
      opacity: 0.5;
      border-radius: 10px;
      position: absolute;
      left: 50%;
      top: -100px;
      transform: translateX(-50%);
      z-index: 99;
    }
    .videlControl{
      object-fit:fill;
      width: 1092px;
      height: 600px;
      cursor: pointer;
      outline: none;
      position: absolute;
      left: 50%;
      top: -100px;
      transform: translateX(-50%);
    }
    
  }
  .order{
    width: 1092px;
    margin: 250px auto 0 auto;
    text-align: center;
    .comTitle{
      font-size: 36px;
      font-weight: 600;
      color: #000000;
      line-height: 70px;
    }
    .chComIntro{
      font-size: 18px;
      color: #454545;
      line-height: 26px;
    }
    .enComIntro{
      font-size: 15px;
      color: #777777;
      line-height: 23px;
    }
  }
}
// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
  .videoContent{
    .videoBackground{
      width: 100%;
      height: 150px;
      background: #17184C;
      position: relative;
      top: 10px;
      /**视频中心暂停图片的样式**/
      .videoPalse{
        font-size: 120px;
        color: #FFFFFF;
        position: absolute;
        z-index: 100;
        top:50%;
        left:50%;
        cursor: pointer;
        transform: translate(-50%,50%);
      }
      .mentu{
        width: 80%;
        height: 200px;
        display: inline-block;
        background: #000000;
        opacity: 0.5;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: -100px;
        transform: translateX(-50%);
        z-index: 99;
      }
      .videlControl{
        object-fit:fill;
        width: 80%;
        height: 200px;
        cursor: pointer;
        outline: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-12%);
      }
      
    }
    .order{
      width: 100%;
      margin: 30px auto 0 auto;
      text-align: center;
      .comTitle{
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        line-height: 70px;
      }
      .chComIntro{
        font-size: 14px;
        color: #454545;
        line-height: 26px;
        padding: 0 10%;
      }
      .enComIntro{
        display: none;
      }
    }
  }
}
// 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
  .videoContent{
    .videoBackground{
      width: 100%;
      height: 90px;
      background: #17184C;
      position: relative;
      top: 10px;
      /**视频中心暂停图片的样式**/
      .videoPalse{
        font-size: 120px;
        color: #FFFFFF;
        position: absolute;
        z-index: 100;
        top:50%;
        left:50%;
        cursor: pointer;
        transform: translate(-50%,50%);
      }
      .mentu{
        width: 80%;
        height: 150px;
        display: inline-block;
        background: #000000;
        opacity: 0.5;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: -100px;
        transform: translateX(-50%);
        z-index: 99;
      }
      .videlControl{
        object-fit:fill;
        width: 80%;
        height: 150px;
        cursor: pointer;
        outline: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-20%);
      }
      
    }
    .order{
      width: 100%;
      margin: 30px auto 0 auto;
      text-align: center;
      .comTitle{
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        line-height: 70px;
      }
      .chComIntro{
        font-size: 14px;
        color: #454545;
        line-height: 26px;
        padding: 0 10%;
      }
      .enComIntro{
        display: none;
      }
    }
  }
  
}