.search {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .img {
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: -1;
  }

  .searchIntro {
    color: #FFFFFF;

    .big {
      font-size: 32px;
    }
  }

  .searchInput {
      position: relative;
    input {
      width: 534px;
      height: 56px;
      background: #FFFFFF;
      border-radius: 28px;
      outline: none;
      border: none;
      padding-left: 20px;
    }

    button {
      width: 140px;
      height: 50px;
      background: #0A0F21;
      border-radius: 25px;
      font-size: 16px;
      color: #FFFFFF;
      outline: none;
      border: none;
      position: absolute;
      right: 3px;
      top: 3px;
      cursor: pointer;
    }
  }
}
// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
.search {
  flex-direction: column;
  .searchIntro {
    color: #FFFFFF;
    text-align: center;
    .big {
      text-align: center;
      font-size: 24px;
    }
  }
  .searchInput {
    position: relative;
  input {
    width: 80vw;
    height: 46px;
    background: #FFFFFF;
    border-radius: 28px;
    outline: none;
    border: none;
    padding-left: 20px;
  }

  button {
    width: 140px;
    height: 40px;
    background: #0A0F21;
    border-radius: 25px;
    font-size: 16px;
    color: #FFFFFF;
    outline: none;
    border: none;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
  }
}
}
}
  // 当屏幕尺寸小于768px时变化
  @media screen and (max-width: 768px) {
    .search {
      flex-direction: column;
      .searchIntro {
        color: #FFFFFF;
        text-align: center;
        .big {
          text-align: center;
          font-size: 16px;
        }
      }
      .searchInput {
        position: relative;
      input {
        width: 80vw;
        height: 46px;
        background: #FFFFFF;
        border-radius: 28px;
        outline: none;
        border: none;
        padding-left: 20px;
      }
    
      button {
        width: 100px;
        height: 40px;
        background: #0A0F21;
        border-radius: 25px;
        font-size: 16px;
        color: #FFFFFF;
        outline: none;
        border: none;
        position: absolute;
        right: 3px;
        top: 3px;
        cursor: pointer;
      }
      
    }
    }
  }