.products{
  text-align: center;
  margin-bottom: 20px;
  .title{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: PingFang SC;
    .sTitle{
      font-size: 18px;
      font-weight: 400;
      color: #6AC5F0;
      line-height: 30px;    
    }
    .bTitle{
      font-size: 32px;
      
      color: #56B5E1;
      line-height: 60px;
      span{
        // font-weight: 600;
      }
    }
  }
  .productsIconList{
    width: 80%;
    margin: 60px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .productsIntro{
      width: 175px;
      height: 177px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .productImg{
        width: 142px;
        height: 139px;
      }
      .productsName{
        width: 173px;
        height: 15px;
        font-size: 15px;
        font-family: Arial;
        font-weight: bold;
        color: #56B5E1;
        line-height: 21px;
      }
    }
  }
  .products{
    // width: 80%;
    margin: 0 auto 25px;
    .proCard{
      // min-width: 380px;
      background: #FFFFFF;
      cursor: pointer;
      margin: 40px 15px;
      .bottomImg{
        width: 100%;
        height: 270px;
      }
      .intro{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #FFFFFF;
        padding: 0 20px;
        transition: all .5s;
        .productDetail{
          width: 250px;
          font-size: 16px;
          padding: 5px;
          .name{
            text-align: center;
            color: #444444;
            font-size: 20px;
            font-family: PingFang SC;
            font-weight: 300;
            line-height: 20px;
          }
          .detail{
            color: #687188;
            line-height: 30px;
          }
        }
       
        .learnMore{
          width: 130px;
          height: 38px;
          background: #6EC8FF;
          border-radius: 19px;
          color: #ffffff;
          outline: none;
          border: none;
          display: none;
          transition: all .5s;
          cursor: pointer;
        }
      }
    }
    .proCard:hover{
      .intro{
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
        border-radius: 0 0 10px 10px;
        color: #50B0EA;
      }
      .learnMore{
        display: block;
      }
    }
  }
}

//  当屏幕尺寸小于1600px时变化
@media screen and (max-width: 1600px) {
  .products{
    text-align: center;
    .productsIconList{
      width: 80%;
      margin: 60px auto 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .productsIntro{
        width: 175px;
        height: 177px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .productImg{
          width: 142px;
          height: 139px;
        }
        .productsName{
          width: 173px;
          height: 15px;
          font-size: 15px;
          font-family: Arial;
          font-weight: bold;
          color: #56B5E1;
          line-height: 21px;
        }
      }
    }
    .products{
      // width: 80%;
      margin: 0 auto 25px;
      .proCard{
        // min-width: 380px;
        background: #FFFFFF;
        cursor: pointer;
        margin: 40px 15px;
        .bottomImg{
          width: 100%;
          height: 270px;
        }
        .intro{
          width: 100%;
          height: 80px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: #FFFFFF;
          padding: 0 20px;
          transition: all .5s;
          .productDetail{
            width: 250px;
            font-size: 16px;
            padding: 5px;
            .title{
              text-align: center;
              color: #444444;
              font-size: 20px;
              font-family: PingFang SC;
              font-weight: 300;
              line-height: 20px;
            }
            .detail{
              color: #687188;
              line-height: 30px;
            }
          }
         
          .learnMore{
            width: 130px;
            height: 38px;
            background: #6EC8FF;
            border-radius: 19px;
            color: #ffffff;
            outline: none;
            border: none;
            display: none;
            transition: all .5s;
            cursor: pointer;
          }
        }
      }
      .proCard:hover{
        .intro{
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
          border-radius: 0 0 10px 10px;
          color: #50B0EA;
        }
        .learnMore{
          display: block;
        }
      }
    }
  }
  .title{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: PingFang SC;
    .sTitle{
      font-size: 18px;
      font-weight: 400;
      color: #6AC5F0;
      line-height: 30px;    
    }
    .bTitle{
      font-size: 32px;
      
      color: #56B5E1;
      line-height: 60px;
      span{
        // font-weight: 600;
      }
    }
  }
}



// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
  .products{
    text-align: center;
    .title{
      display: none;
    }
    .productsIconList{
      width: 95%;
      margin: 60px auto 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .productsIntro{
        width: 114px;
        height: 161px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .productImg{
          width: 106px;
          height: 104px;
        }
        .productsName{
          width: 114px;
          height: 35px;
          font-size: 15px;
          font-family: Arial;
          font-weight: bold;
          color: #56B5E1;
          line-height: 21px;
        }
      }
    }
    .products{
      // width: 80%;
      margin: 60px auto 25px;
      .proCard{
        // min-width: 380px;
        background: #FFFFFF;
        cursor: pointer;
        margin: 20px 0;
        padding: 0 10px;
        .bottomImg{
          width: 100%;
          height: 270px;
        }
        .intro{
          width: 100%;
          height: 80px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: #FFFFFF;
          padding: 0 20px;
          transition: none;
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
          border-radius: 0 0 10px 10px;
          
          .productDetail{
            width: 250px;
            font-size: 16px;
            padding: 5px;
            .name{
              text-align: center;
              color: #50B0EA;
              font-size: 20px;
              font-family: PingFang SC;
              font-weight: 300;
              line-height: 20px;
            }
            .detail{
              color: #687188;
              line-height: 30px;
            }
          }
         
          .learnMore{
            width: 130px;
            height: 38px;
            background: #6EC8FF;
            border-radius: 19px;
            color: #ffffff;
            outline: none;
            border: none;
            display: block;
            transition: all .5s;
            cursor: pointer;
            
          }
        }
      }
      .proCard:hover{
        .intro{
          
        }
        .learnMore{
          display: block;
        }
      }
    }
  }
}