.title{
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: PingFang SC;
  .sTitle{
    font-size: 18px;
    font-weight: 400;
    color: #6AC5F0;
    line-height: 30px;    
  }
  .bTitle{
    font-size: 32px;
    
    color: #56B5E1;
    line-height: 60px;
    span{
      // font-weight: 600;
    }
  }
}
.productsIconList{
  width: 80%;
  margin: 60px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .productsIntro{
    // width: 175px;
    height: 177px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .productImg{
      width: 142px;
      height: 139px;
    }
    .productsName{
      width: 250px;
      height: 15px;
      font-size: 15px;
      font-family: Arial;
      font-weight: bold;
      color: #56B5E1;
      line-height: 21px;
      text-align: center;
    }
  }
}
// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
  .productsIconList{
    width: 95%;
    margin: 60px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .productsIntro{
      width: 114px;
      height: 161px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .productImg{
        width: 106px;
        height: 104px;
      }
      .productsName{
        width: 114px;
        height: 35px;
        font-size: 15px;
        font-family: Arial;
        font-weight: bold;
        color: #56B5E1;
        line-height: 21px;
      }
    }
  }
  .title{
    display: none;
  }
  .wire{
    display: none;
  }
}