.title{
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: PingFang SC;
  .sTitle{
    font-size: 18px;
    font-weight: 400;
    color: #6AC5F0;
    line-height: 30px;    
  }
  .bTitle{
    font-size: 32px;
    
    color: #56B5E1;
    line-height: 60px;
    span{
      // font-weight: 600;
    }
  }
}
  // 当屏幕尺寸小于768px时变化
  @media screen and (max-width: 768px) {
    .title{
      width: 100%;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: PingFang SC;
      .sTitle{
        font-size: 18px;
        font-weight: 400;
        color: #6AC5F0;
        line-height: 30px;    
      }
      .bTitle{
        font-size:20px;
        color: #56B5E1;
        line-height: 60px;
        span{
          // font-weight: 600;
        }
      }
    }
}