.enComIntro{
    font-size: 15px;
    color: #777777;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
  }
  
// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
  .enComIntro{
    display: none;
  }
}