.products{
  width: 100%;
  background: #F5F5F5;
  position: relative;
  .backImg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .proCard{
    min-width: 370px;
    height: 400px;
    margin: 40px 20px;
    .bottomImg{
      width: 100%;
      height: 400px;
      border-radius: 10px;
    }
    .proIntro{
      width: 100%;
      height: 400px;
      background: #000131;
      color: #ffffff;
      opacity: 0.69;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 200;
      position: absolute;
      top: 0;
      transition: all .5s;
      .proIcon{
        font-size: 100px;
        transition: all .5s;
      }
      .proName{
        font-size: 24px;
      }
      .xian{
        width: 240px;
        height: 1px;
        background: #FFFFFF;
        transition: all .5s;
      }
      .enName{
        font-size: 22px;
      }
      .hideBox{
        position: relative;
        transition: all .5s;
        .proIntros{
          padding:0 20px;
          text-align: center;
          text-overflow: -o-ellipsis-lastline;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: 18px;
          visibility:hidden;
        }
        .proDetailButton{
          border: none;
          outline: none;
          width: 160px;
          height: 40px;
          background: #FFFFFF;
          border-radius: 20px;
          text-align: center;
          line-height: 40px;
          color: #214BD3;
          font-size: 18px ;
          visibility:hidden;
          cursor: pointer;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 10px;
        }
      }
      
    }
  }
  .proCard:hover{
    .proIcon{
      margin-top: -100px;
    }
    .proIntro{
      background: #0F31A0;
      opacity: 0.89;
    }
    .xian{
      display: none;
    }
    .hideBox{
      .proIntros{
        margin-top: 10px;
        visibility:visible;
      }
      .proDetailButton{
        margin-bottom: 20px;
        visibility:visible;
      }
    }
    
  }
}
// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
  .products{
    width: 100%;
    background: #F5F5F5;
    position: relative;
    .backImg{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .proCard{
      min-width: auto;
      height: auto;
      width: 46%;
      margin: 10px 5px;
      .bottomImg{
        width: 100%;
        height: 150px;
        border-radius: 10px;
      }
      .proIntro{
        width: 100%;
        height: 100%;
        opacity: 0.79;
        justify-content: start;

        .proIcon{
          font-size: 30px;
          transition: all .5s;
        }
        .proName{
          overflow: hidden;
          font-size: 18px;
        }
        .xian{
          width: 80%;
          height: 1px;
          background: #FFFFFF;
          transition: all .5s;
        }
        .enName{
          font-size: 15px;
        }
        .hideBox{
          position: relative;
          transition: all .5s;
          .proIntros{
            display: none;
          }
          .proDetailButton{
            margin-top: 3%;
            position: inherit;
            left: 0;
            transform: translateX(0);
            visibility:visible; 
            color: #ffffff;
            background: transparent;
          }
          .proDetailButton::after{
            content: ">";
            color: #ffffff;
            position: absolute;
            right: 15%;
          }
        }
        
      }
    }
    .proCard:hover{
      .proIcon{
        margin-top: 0;
      }
      .proIntro{
        background: #000131;
        opacity: 0.79;
      }
      .xian{
        display: block;
      }
      .hideBox{
        .proIntros{
          margin-top: 0;
          visibility:visible;
        }
        .proDetailButton{
          margin-bottom: 0;
          visibility:visible;
        }
      }
      
    }
  }
}
// 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
  .products{
    width: 100%;
    background: #F5F5F5;
    position: relative;
    .backImg{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .proCard{
      min-width: auto;
      height: auto;
      width: 46%;
      margin: 10px 5px;
      .bottomImg{
        width: 100%;
        height: 150px;
        border-radius: 10px;
      }
      .proIntro{
        width: 100%;
        height: 100%;
        opacity: 0.79;
        justify-content: start;

        .proIcon{
          font-size: 30px;
          transition: all .5s;
        }
        .proName{
          font-size: 18px;
        }
        .xian{
          width: 80%;
          height: 1px;
          background: #FFFFFF;
          transition: all .5s;
        }
        .enName{
          font-size: 15px;
        }
        .hideBox{
          position: relative;
          transition: all .5s;
          .proIntros{
            display: none;
          }
          .proDetailButton{
            margin-top: 3%;
            position: inherit;
            left: 0;
            transform: translateX(0);
            visibility:visible; 
            color: #ffffff;
            background: transparent;
          }
          .proDetailButton::after{
            content: ">";
            color: #ffffff;
            position: absolute;
            right: 15%;
          }
        }
        
      }
    }
    .proCard:hover{
      .proIcon{
        margin-top: 0;
      }
      .proIntro{
        background: #000131;
        opacity: 0.79;
      }
      .xian{
        display: block;
      }
      .hideBox{
        .proIntros{
          margin-top: 0;
          visibility:visible;
        }
        .proDetailButton{
          margin-bottom: 0;
          visibility:visible;
        }
      }
      
    }
  }
}