.Nav{
  position: absolute;
  top: 160px;
  left: 300px;
  .title{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
  } 
}
.ant-menu-submenu{
  font-size: 16px;
  border-bottom: 1px solid #EBEBEB;
}