.header{
  .contentStyle {
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
  }
  .bannerImg{
    position: relative;
    height:500px; 
    width:100%;
  }
  .learn {
    width: 200px;
    height: 56px;
    border: 2px solid #566EF4;
    border-radius: 28px;
    text-align: center;
    line-height: 56px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    position: absolute;
    left: 20%;
    bottom: 25%;
  }
}
// 当屏幕尺寸小于1600px时变化
@media screen and (max-width: 1600px) {
  .header {
    .bannerImg {
      width: 100%;
      height: 600px;
      position: relative;
    }
  }
}

// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
  .header {
    .bannerImg {
      width: 100%;
      height: 500px;
      position: relative;
    }
  }
}
// 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
  .header {
    .bannerImg {
      width: 100%;
      height: 200px;
      position: relative;
    }
  }
}