.companyIntro{
  margin-bottom: 20px;
  .content{
    width: 60%;
    font-family: PingFang SC;
    margin: 30px auto 58px;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: #3A3A3A;
    line-height: 23px;
  }
  .companyIntroVideo{
    position: relative;
    width:100%;
    height:450px;
    
    .videoImg{
      width: 100%;
      height: 100%;
    }
    .playBtn{
      width:100px;
      position: absolute;
      right: 300px;
      top: 170px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 1200px) {
  .companyIntro{
    margin-bottom: 20px;
    .content{
      display: none;
    }
    .companyIntroVideo{
      position: relative;
      width: 100%;
      height:177px;
      .companyPhoto{
        width:100%;
        height:177px;
      }
      .playBtn{
        width: 39px;
        position: absolute;
        right: 60px;
        top: 69px;
        cursor: pointer;
      }
    }
  }
}