
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: transparent;
    position: fixed;
    top: 0;
    z-index: 999;
    .menuUl{
        width: auto;
        height: 80px;
        margin-left: 50px;
        background: transparent;
        border-bottom: none;
        display: flex;
        align-items: center;
        li{
            margin:0 35px !important;
            color: #FFFFFF;
            font-size: 14px;
        }
        
    }
    .icon{
        position: absolute;
        right: 20px;
        top: 28px;
        color: #FFFFFF;
        font-size: 30px;
        display: none;
    }
    .mobile{
        display: none;
        .icon{
            font-size: 30px;
        }
    }
}
.menuList{
    margin: 0 35px;
}
// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
    .menu{
    .menuUl{
        width: 50%;
    }
}
  }
  // 当屏幕尺寸小于768px时变化
  @media screen and (max-width: 768px) {
    .menu{
        // position: relative;
        height: 88px;
        .logo{
            position: absolute;
            left: 20px;
            top: 22px;
        }
        .icon{
            display: block;
        }
        .menuUl{
            display: none;
        }
        .mobile{
            display: block;
            .icon{
                position: absolute;
                right: 20px;
                top: 28px;
                color: #666666;
                font-size: 30px;
            }
            .close{
                width: 256px;
                height: 40px;
                background: white;
                text-align: right;
                line-height: 40px;
                padding-right: 15px;
                position: absolute; 
                right: -256px;
                top: 0;
                font-size: 20px;
                transition: all .5s;
            }
            .mobileMenu{
                width: 256px;
                height: 100vh;
                position: absolute;
                right: -256px;
                top: 40px; 
                background: white;
                transition: all .5s;
            }
        }
    }
    
  }