.title{
    margin:80px 0 50px 0 ;
        .en{
            font-size: 48px;
            font-family: PingFang SC;
            font-weight: 300;
        }
        .en::before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height:1px;
            background: #8D8E94;
            margin-right: 20px;
        }
        .en::after{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height:1px;
            background: #8D8E94;
            margin-left: 20px;
        }
    
    .ch{
        margin-top: 26px;
        font-size: 48px;
        font-weight: 600;
        color: #282828;
        line-height: 48px;
    }
}
// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
    .title{
        margin:30px 0 20px 0 ;
            .en{
                font-size: 20px;
                font-family: PingFang SC;
                font-weight: 300;
            }
            .en::before{
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 40px;
                height:1px;
                background: #8D8E94;
                margin-right: 20px;
            }
            .en::after{
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 40px;
                height:1px;
                background: #8D8E94;
                margin-left: 20px;
            }
        
        .ch{
            margin-top: 0;
            font-size: 20px;
            font-weight: 600;
            color: #282828;
            line-height: 48px;
        }
    }
}