.footer{
    width: 100%;
    height: 350px;
    background: #0a0f21;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    .footerContent{
        width: 80%;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        border-bottom: 1px solid rgba(199,199,199,.1);
        border-radius: 1px;
        .intro{
            width: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 10px;
            img{
                width: 130px;
                height: 50px;
                object-fit: contain;
            }
        }
        .footerLink{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 10px;
            font-weight: 600;
            span{
                margin-bottom: 10px;
            }
            .linkList{
                padding: 0;
                margin: 0;
                font-weight: 400;
                li:before{
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: #be4f09;
                    margin: 0 5px 3px 0;
                    
                }
                li:hover{
                    cursor: pointer;
                    color: #566EF4;
                }
            }
        }
        .address{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 10px;
            .icon{
                font-size: 5px !important;
                color: #ffffff;
                margin-right: 5px;
            }
        }
    }
    .footers{
        padding-top: 20px;
        text-align: center;
        width: 80%;
    }
}

// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
    .footer{
        height: auto;
        line-height: 26px;
        .footerContent{
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            .intro{
                width: 100%;
                span{
                    font-size: 18px;
                }
            }
            .footerLink{
                display: none;
            }
            .address{
                font-size: 16px;
                .icon{
                    font-size: 18px !important;
                    color: #be4f09;
                    margin-right: 5px;
                }
            }
        }
        
    }
  }
  // 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
    .footer{
        // height: 320px;
        height: auto;
        line-height: 26px;
        .footerContent{
            flex-direction: column;
            justify-content: center;
            align-items: start;
            .intro{
                width: 100%;
                span{
                    font-size: 13px;
                }
            }
            .footerLink{
                display: none;
            }
            .address{
                font-size: 12px;
                .icon{
                    font-size: 13px !important;
                    color: #be4f09;
                    margin-right: 5px;
                }
            }
        }
        
    }
  }