.content{
  width: 100%;
  // height: 300px;
  background: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
  .anchor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ffffff;
    padding-left: 250px;
    margin-bottom: 0;
    .clickLi{
      width: 250px;
      height: 60px;
      color: #ffffff;
      background: #4E86FE;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .clickLi::before{
      content: "";
      width:0;
      height:0;
      border-top:10px solid  #4E86FE;
      border-left:10px solid transparent;
      border-right:10px solid transparent;
      border-bottom:10px solid transparent;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
    .anchorLi{
      width: 250px;
      height: 60px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .clickFont{
        color: #6490FF;
      }
    }
    .anchorLi:nth-child(3):after{
      content: "";
      width: 1px;
      height: 16px;
      background: #DDDDDD;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .anchorLi:nth-child(2):before{
      content: "";
      width: 1px;
      height: 16px;
      background: #DDDDDD;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .anchorLi:nth-child(2):after{
      content: "";
      width: 1px;
      height: 16px;
      background: #DDDDDD;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .produc{
    
    .intro{
      padding-left: 250px;
      .proInro{
        display: flex;
        justify-content: center;
        align-items: center;
        .proIntroList{
          width: 280px;
          height: 280px;
          
          border-radius: 6px;
          margin: 0 13px;
          cursor: pointer;
          background: #ffffff;
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
          .icon{
            width: 100%;
            height: 55%;
            display: flex;
            justify-content: center;
            align-items: center;
            .proImg{
              width: 200px;
              height: 90px;
              object-fit: contain;
            }
          }
          
          .bigIcon{
            .productIcon{
              font-size: 80px;
              background: linear-gradient(-20deg, #6997FF ,#A3BFFF); 
              -webkit-background-clip:text; 
              -webkit-text-fill-color:transparent; 
            }
          }
          .proName{
            width: 100%;
            height: 45%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            .productTitle{
              font-size: 20px;
              color: #444444;
              margin: auto;
              margin: 10px 0;
            }
            .productIntro{
  
              font-size: 14px;
              color: #666666;
              text-align: center;
            }
          }
         
        }
        .downloadList{
          width: 220px;
          height: 148px;
          padding: 15px 20px;
          background: #FFFFFF;
          border: 1px solid #E6E8F4;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin: 0 20px;
          cursor: pointer;
          .logo{
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            .logoImg{
              width: 60px;
              height: 60px;
              background: #82A8FF;
              border-radius: 50%;
              text-align: center;
              line-height: 60px;
             .logos{
              font-size: 40px;
              color: #ffffff;
             } 
            }
            .logoName{
              font-size: 20px;
              color: #444444;
              margin-left: 30px;
            }
          }
          
        }
        .downloadList:hover{
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        }
        .payList{
          width: 220px;
          height: 374px;
          background: #FFFFFF;
          border: 1px solid #E6E8F4;
          border-radius: 6px;
          padding: 20px;
          margin: 0 20px 130px;
          .payType{
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            .xian{
              width: 40px;
              height: 3px;
              background: #7694FF;
              position: absolute;
              top: 0;
              left: 0;
            }
            .payTitle{
              font-size: 20px;
              color: #333333;
            }
            .littleIntro{
              font-size: 14px;
              color: #8393AC;
            }
          }
          .payIntro{
            border-top: 1px solid #E6E8F4;
            border-bottom: 1px solid #E6E8F4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .pay{
              width: 100%;
              margin: 7px 0;
              display: flex;
              justify-content: space-between;
              font-size: 16px;
              color: #666666;
              p{

                color: #666666;
              }
            }
          }
          .payBtn{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
              font-size: 25px;
              color: #F77D0C;
              margin: 19px 0;
            }
            
          }
        }
        .payList:hover{
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        }
      }
      .main{
        display: flex;
        justify-content: center;
        align-items: center;
        .mainLeft{
          width: 180px;
        height: 240px;
        background: #FFFFFF;
        border: 1px solid #F0F0F0;
        border-radius: 2px;
        font-size: 20px;
        .name{
          width: 180px;
          height: 60px;
        background: #FFFFFF;
          text-align: center;
          line-height: 60px;
        }
        .click_name{
          width: 180px;
          height: 60px;
          background: #4E86FE;
          color: #ffffff;
          text-align: center;
          line-height: 60px;
        } 
        }
        .mainRight{
          width: 720px;
          height: 210px;
          display: flex;
          border-bottom: 1px solid #ECECEC;
          margin-left: 50px;
          .appIcon{
            color: #4E86FE;
            font-size: 80px;
            margin-right:20px ;
          }
          .mainRightMain{
            display: flex;
            .main{
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: flex-start;
              .mainTitle{
                font-size: 25px;
                margin-bottom: 30px;
              }
            }
          }
        }
      }
    }
    .gray{
      padding-bottom: 40px;
      background: #F7F7F7;
    }
  }
}
.downloadBtn{
  width: 160px;
  height: 36px;
  border-radius: 4px;
  outline: none;
  margin:0 auto;
  cursor: pointer;
  background: #ffffff;
color: #5689FF;

border: 1px solid #5689FF;
}
.downloadBtn:hover{
  background: #5689FF;
  color: #ffffff;
}