.header {
  margin-top: 80px;
  .contentStyle {
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
  }

  .bannerImg{
    position: relative;
    height:500px; 
    width:100%;
  }
  .learn {
    width: 200px;
    height: 56px;
    border: 2px solid #566EF4;
    border-radius: 28px;
    text-align: center;
    line-height: 56px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    position: absolute;
    left: 20%;
    bottom: 25%;
  }

  .bannerBottom {
    width: 100%;
    height: 150px;
    background: #000032;
    display: flex;
    justify-content: center;

    .listActive {
      color: #ffffff !important;
      background: #08186B !important;
    }

    li {
      width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;  
      color: #54648C;
      cursor: pointer;

      // color: #FFFFFF;
      // background: #08186B;
      div {
        margin: 0 10px;
      }

      .date {
        font-size: 15px;
        font-weight: 600;
      }

      .title {
        font-size: 15px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 10px;
      }

      .intro {
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
// 当屏幕尺寸小于1600px时变化
@media screen and (max-width: 1600px) {
  .header {
    .bannerImg {
      width: 100%;
      height: 600px;
      position: relative;
    }
    
  }
}

// 当屏幕尺寸小于1024px时变化
@media screen and (max-width: 1024px) {
  .header {
    .bannerImg {
      width: 100%;
      height: 500px;
      position: relative;
    }
    .bannerBottom {
      height: 120px;
      overflow-x: scroll;
      justify-content: start;
      padding: 0;
      .listActive {
        color: #ffffff !important;
        background: #08186B !important;
      }
  
      li {
        width: 150px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        color: #54648C;
        cursor: pointer;
  
        // color: #FFFFFF;
        // background: #08186B;
        div {
          margin: 0 10px;
        }
  
        .date {
         display: none;
        }
  
        .title {
          font-size: 15px;
          font-weight: 600;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 10px;
        }
  
        .intro {
          text-overflow: -o-ellipsis-lastline;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
// 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
  .header {
    .bannerImg {
      width: 100%;
      height: 300px;
      position: relative;
    }
  }
}