.content{
  width: 100%;
  // height: 300px;
  background: #F9FAFF;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 250px;
  .anchor{
    display: flex;
    justify-content: center;
    align-items: center;
    .anchorLi{
      width: 250px;
      height: 60px;
      cursor: pointer;
      border-bottom: 1px solid #DDDDDD;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .clickFont{
        color: #6490FF;
      }
      .click{
        width: 80px;
    height: 3px;
    background: #6490FF;
    position: absolute;
    bottom: 0;
      }
    }
    .anchorLi:nth-child(3):after{
      content: "";
      width: 1px;
      height: 16px;
      background: #DDDDDD;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .anchorLi:nth-child(2):before{
      content: "";
      width: 1px;
      height: 16px;
      background: #DDDDDD;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .anchorLi:nth-child(2):after{
      content: "";
      width: 1px;
      height: 16px;
      background: #DDDDDD;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .produc{
    .intro{
      .title{
        text-align: center;
        color: #6395FF;
      font-size: 25px;
      margin: 80px 0 100px;
      .titleContent{
        margin: 0 10px;
        color: #0A0F21;
      }
      }
      .proInro{
        display: flex;
        justify-content: center;
        align-items: center;
        .proIntroList{
          width: 280px;
          height: 280px;
          padding: 15px;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 50px;
          cursor: pointer;
          .icon{
            width: 80px;
            height: 80px;
            background: #EDF3FF;
            border-radius: 50%;
            text-align: center;
            line-height: 80px;
            color: #A3BFFF;
            position: relative;
            .productIcon{
              font-size: 40px;

            }
            .kuai{
              width: 10px;
              height: 10px;
              background: #A3BFFF;
              position: absolute;
              bottom: 10px;
              right: 5px;
            }
          }
          .bigIcon{
            .productIcon{
              font-size: 80px;
              background: linear-gradient(-20deg, #6997FF ,#A3BFFF); 
              -webkit-background-clip:text; 
              -webkit-text-fill-color:transparent; 
            }
          }
          .productTitle{
            font-size: 20px;
            color: #444444;
            margin: 19px 0 40px;
          }
          .productIntro{

            font-size: 14px;
            color: #666666;
            text-align: center;
          }
        }
        .proIntroList:hover{
          background: #FFFFFF;
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        }
        .downloadList{
          width: 220px;
          height: 148px;
          padding: 15px 20px;
          background: #FFFFFF;
          border: 1px solid #E6E8F4;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin: 0 20px;
          cursor: pointer;
          .logo{
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            .logoImg{
              width: 60px;
              height: 60px;
              background: #82A8FF;
              border-radius: 50%;
              text-align: center;
              line-height: 60px;
             .logos{
              font-size: 40px;
              color: #ffffff;
             } 
            }
            .logoName{
              font-size: 20px;
              color: #444444;
              margin-left: 30px;
            }
          }
          
        }
        .downloadList:hover{
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        }
        .payList{
          width: 220px;
          height: 374px;
          background: #FFFFFF;
          border: 1px solid #E6E8F4;
          border-radius: 6px;
          padding: 20px;
          margin: 0 20px 130px;
          .payType{
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            .xian{
              width: 40px;
              height: 3px;
              background: #7694FF;
              position: absolute;
              top: 0;
              left: 0;
            }
            .payTitle{
              font-size: 20px;
              color: #333333;
            }
            .littleIntro{
              font-size: 14px;
              color: #8393AC;
            }
          }
          .payIntro{
            border-top: 1px solid #E6E8F4;
            border-bottom: 1px solid #E6E8F4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .pay{
              width: 100%;
              margin: 7px 0;
              display: flex;
              justify-content: space-between;
              font-size: 16px;
              color: #666666;
              p{

                color: #666666;
              }
            }
          }
          .payBtn{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
              font-size: 25px;
              color: #F77D0C;
              margin: 19px 0;
            }
            
          }
        }
        .payList:hover{
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        }
      }
    }
    
  }
}
.downloadBtn{
  width: 160px;
  height: 36px;
  border-radius: 4px;
  outline: none;
  margin:0 auto;
  cursor: pointer;
  background: #ffffff;
color: #5689FF;

border: 1px solid #5689FF;
}
.downloadBtn:hover{
  background: #5689FF;
  color: #ffffff;
}