.News{
    width: 80%;
    margin: 100px auto 0;
    .content{
        width: 100%;
        height: 370px;
        margin: 70px auto 150px auto;
        display: flex;
        position: relative;
        // overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        .newsPhoto{
            width: 470px;
            height: 370px;
            position: relative;
            .dian{
                position: absolute;
                top: -28px;
                left: -32px;
            }
            .photo{
                width: 470px;
                height: 370px;
                border-radius: 10px;
                box-shadow:2px 2px 5px rgba(0, 0, 0, 0.16);
                cursor: pointer;
            }
        }
        .news{
            flex: 1;
            position: relative;
            margin-left:50px;
            display: flex;
            justify-content: center;
            // align-items: center;
            .goMore{
                height: 14px;
                font-size: 16px;
                position: absolute;
                top: 5px;
                right: 20px;
                color: #666666;
                cursor: pointer;
                .moreIcon{
                    font-size: 16px !important;
                }
            }
            .newsData{
                min-width: 460px;
                margin-top: 50px;
                .newsTitle{
                    .newsDate{
                        color: #687188;
                        font-size: 16px;
                    }
                    .newsTitleData{   
                        font-weight: 600;
                        color: #242424;
                        font-size: 20px;
                    }
                }
                .newsIntro{
                    width: 460px;
                    height: 126px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: pre-wrap;
                    color: #687188;
                }
            }
            .buzou{
                width: 80%;
                position: absolute;
                left: 0px;
                bottom: 20px;
                display: flex;
                justify-content: space-between;
                .xian{
                    width: 100%;
                    height: 1px;
                    border: 1px dashed #566EF4;
                    opacity: 0.2;
                    position: absolute;
                    top: 50%;
                    z-index: -1;
                }
                .num{
                    min-width: 60px;
                    min-height: 60px;
                    background: #FFFFFF;
                    box-shadow: 0px 5px 48px 3px rgba(51, 51, 102, 0.1);
                    border-radius: 50%;
                    font-size: 18px;
                    font-weight: 600;
                    color: #242424;
                    text-align: center;
                    line-height: 60px;
                    cursor: pointer;
                }
            }
        }
        .newsNum{
            // width: 189px;
            // height: 127px;
            font-size: 170px;
            font-weight: 600;
            color: #959595;
            opacity: 0.14;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            // z-index: -1;
        }
    }
}


// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
    .News{
        width: 95%;
        margin: 35px auto 0;
      .content {
        width: 100%;
        height: 200px;
        margin: 50px auto ;
        .newsPhoto{
            width: 230px;
            height: 200px;
            position: relative;
            .dian{
                width: 34px;
                height: 54px;
                position: absolute;
                top: -12px;
                left: -21px;
            }
            .photo{
                width: 230px;
                height: 200px;
                border-radius: 10px;
                box-shadow:2px 2px 5px rgba(0, 0, 0, 0.16);
                cursor: pointer;
            }
        }
        .news{
            .newsData{
                min-width: 350px;
                margin-top: 0;
                .newsTitle{
                    .newsDate{
                        color: #687188;
                        font-size: 16px;
                    }
                    .newsTitleData{   
                        font-weight: 600;
                        color: #242424;
                        font-size: 15px;
                    }
                }
                .newsIntro{
                    width: 100%;
                    height: 72px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: pre-wrap;
                    color: #687188;
                }
            }
            .buzou{
                width: 100%;
                position: absolute;
                left: 0px;
                bottom: 0px;
                display: flex;
                justify-content: space-between;
                .xian{
                    width: 100%;
                    height: 1px;
                    border: 1px dashed #566EF4;
                    opacity: 0.2;
                    position: absolute;
                    top: 50%;
                    z-index: -1;
                }
                .num{
                    min-width: 40px;
                    min-height: 40px;
                    max-height: 40px;
                    background: #FFFFFF;
                    box-shadow: 0px 5px 48px 3px rgba(51, 51, 102, 0.1);
                    border-radius: 50%;
                    font-size: 18px;
                    font-weight: 600;
                    color: #242424;
                    text-align: center;
                    line-height: 40px;
                    cursor: pointer;
                }
            }
        }
        .newsNum{
            font-size: 80px;
            font-weight: 600;
            color: #959595;
            opacity: 0.14;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            // z-index: -1;
        }
      }
    }
  }
  // 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
    .News{
        width: 95%;
        margin: 35px auto 0;
      .content {
        width: 100%;
        height: 400px;
        margin: 0 auto 50px ;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .news{
            width: 100%;
            height: 150px;
            flex: 0;
            margin-left: 0;
            .newsData{
                min-width: 100%;
                .goMore{
                    right: 0;
                }
            }
        }
      }
    }
}