.moreBtn{
  width: 280px;
  height: 60px;
  background: #50B0EA;
  border-radius: 12px;
  font-size: 14px;
  font-family: PingFang SC;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
}