.title{
  text-align: center;
font-size: 25px;
padding: 80px 0 100px;
position: relative;
.titleContent{
  color: #0A0F21;
}
.xian{
  width: 88px;
  height: 4px;
  background: #4E86FE;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
}
}