.companygenneralize {
  width: 100%;
  height: 1519px;
  background: #0A0F21;
  margin-top: 100px;
  padding: 100px 0                                                                      ;
  position: relative;
  z-index: 0;

  .guowang {
    margin-top: 66px;
    color: #FFFEFE;
    list-style: none;
    padding: 0;
    .xianList {
      width: 100%;
      height: 235px;
      position: relative;
      margin: 0;
      padding-bottom: 20px;
      font-size: 14px;
      list-style: none;

      .dian {
        margin-left: -4px;
        color: #566EF4;
        border-color: #566EF4;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #566EF4;
        border: 2px solid #566EF4;
        border-radius: 100px;
        transform: translate(-25%, -30%);
      }

      .zuoxian {
        width: 60px;
        z-index: -1;
        height: 1px;
        border: 1px dashed #566EF4;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateY(200%);
      }

      .youxian {
        width: 60px;
        z-index: -1;
        height: 1px;
        border: 1px dashed #566EF4;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(200%);
      }

      .xian {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        border: 2px solid #566EF4;

        .sanjiao {
          width: 0;
          height: 0;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          border-top: 10px solid #566EF4;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translate(-5px, 5px);
        }
      }

      .date {
        font-weight: 600;
        font-size: 36px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: calc(50% - 60px);
      }

      .dateRight {
        left: calc(50% + 60px);
      }

      .contentLeft {
        left: calc(50% - 60px);
        transform: translateX(-100%);
      }

      .dateLeft {
        right: calc(50% + 60px);
        text-align: right;
      }

      .contentRight {
        left: calc(50% + 60px);
        transform: translateX(0px);
      }

      .orange {
        font-size: 16px;
        color: #FF6600;
      }

      .content {
        width: 514px;
        height: 235px;
        border: 2px solid #566EF4;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        justify-content: space-around;
        align-items: center;
        z-index: 2;
        position: absolute;
        transition: all .5s;
        cursor: pointer;
        .title {
          font-weight: 600;
          font-size: 20px;
          color: #FFFEFE;
        }

        .main {
          font-size: 16px;
          color: #FFFEFE;
        }
      }

      .content:hover {
        background: #1C223C;
      }
    }
  }
}


// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
  .companygenneralize {
    height: 1319px;
    padding: 50px;
    .guowang {
      .xianList {
        .content {
          width: 250px;
          padding: 15px;
        }
      }

    }
  }
}
p{
  margin: 0;
}

// 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
  .companygenneralize {
    width: 100%;
    height: 1519px;
    background: #0A0F21;
    margin-top: 100px;
    padding: 100px 0;                                                                      ;
    position: relative;
    z-index: 0;
  
    .guowang {
      margin-top: 66px;
      color: #FFFEFE;
      list-style: none;
      padding: 0;
      .xianList {
        width: 100%;
        height: 235px;
        position: relative;
        margin: 0;
        padding-bottom: 20px;
        font-size: 14px;
        list-style: none;
  
        .dian {
          margin-left: -4px;
          color: #566EF4;
          border-color: #566EF4;
          position: absolute;
          left: 50%;
          top: 50%;
          width: 10px;
          height: 10px;
          background-color: #566EF4;
          border: 2px solid #566EF4;
          border-radius: 100px;
          transform: translate(-10%,-50%);
        }
  
        .zuoxian {
          display: none;
          width: 60px;
          z-index: -1;
          height: 1px;
          border: 1px dashed #566EF4;
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translateY(200%);
        }
  
        .youxian {
          display: none;
          width: 60px;
          z-index: -1;
          height: 1px;
          border: 1px dashed #566EF4;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(200%);
        }
  
        .xian {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
          border: 2px solid #566EF4;
  
          .sanjiao {
            width: 0;
            height: 0;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            border-top: 10px solid #566EF4;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate(-5px, 5px);
          }
        }
  
        .date {
          font-weight: 600;
          font-size: 36px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: calc(50% - 60px);
          p{
            font-size: 25px;
          }
        }
  
        .dateRight {
          left: calc(50% + 20px);
        }
  
        .contentLeft {
          left: calc(50% - 15px);
          transform: translateX(-100%);
        }
  
        .dateLeft {
          right: calc(50% + 20px);
          text-align: right;
        }
  
        .contentRight {
          left: calc(50% + 15px);
          transform: translateX(0px);
        }
  
        .orange {
          font-size: 12px;
          color: #FF6600;
        }
  
        .content {
          width: calc(50% - 20px);
          height: 235px;
          border: 2px solid #566EF4;
          border-radius: 10px;
          background:  #1C223C;
          display: flex;
          flex-direction: column;
          padding: 5px;
          justify-content: space-around;
          align-items: center;
          z-index: 2;
          position: absolute;
          transition: all .5s;
          cursor: pointer;
          .title {
            font-weight: 600;
            font-size: 20px;
            color: #FFFEFE;
          }
  
          .main {
            font-size: 12px;
            color: #FFFEFE;
          }
        }
  
        .content:hover {
          background:transparent;
        }
      }
    }
  }

}