.news{
  margin: 0 auto;
  text-align: center;
  .content{
    width: 60%;
    font-size: 18px;
    font-family: PingFang SC;
    margin: 0 auto;
    font-weight: 400;
    color: #333333;
    text-align: center;
    margin-bottom: 40px;
  }
}
//  当屏幕尺寸小于1600px时变化
@media screen and (max-width: 1600px) {
  .news {
    .content {
      width: 60%;
    }
  }
}

// 当屏幕尺寸小于1200px时变化
@media screen and (max-width: 1200px) {
  .news {
    .content {
      width: 90%;
      font-weight: 200;
    }
  }
}
// 当屏幕尺寸小于768px时变化
@media screen and (max-width: 768px) {
  .news {
    .content {
      width: 90%;
      line-height: 26px;
      font-weight: 200;
    }
  }
}